<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context.xsd">

<!-- 	<bean id="userService" class="user.service.UserServiceTx"> -->
<!-- 		<property name="transactionManager" ref="transactionManager"/> -->
<!-- 		<property name="userService" ref="userServiceImpl"/> -->
<!-- 	</bean> -->

<!-- 	<bean id="userService" class="user.service.TxProxyFactoryBean"> -->
<!-- 		<property name="target" ref="userServiceImpl"/> -->
<!-- 		<property name="transactionManager" ref="transactionManager"/> -->
<!-- 		<property name="pattern" value="upgradeLevels"/> -->
<!-- 		<property name="serviceInterface" value="user.service.UserService"/> -->
<!-- 	</bean> -->
	
	<bean id="userServiceImpl" class="user.service.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
		<property name="mailSender" ref="mailSender"/>
	</bean>
	
	<bean id="mailSender" class="user.service.DummyMailSender">
		<property name="host" value="mail.server.com"/>
	</bean>
	
	<bean id="transactionManager" 
			class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="userDao" class="user.dao.UserDaoJdbc">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="transactionAdvice" class="learningtest.proxy.TransactionAdvice">
		<property name="transactionManager" ref="transactionManager"/>
	</bean>

	<bean id="transactionPointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">
		<property name="mappedName" value="upgrade*"/>
	</bean>

	<bean id="transactionAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="transactionAdvice"/>
		<property name="pointcut" ref="transactionPointcut"/>
	</bean>

	<bean id="userService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="userServiceImpl"/>
		<property name="interceptorNames">
			<list>
				<value>transactionAdvisor</value>
			</list>
		</property>
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/test?serverTimezone=UTC&amp;characterEncoding=UTF-8"/>
		<property name="username" value="root"/>
		<property name="password" value="admin"/>	<!-- 을지로입구 -->
<!-- 		<property name="password" value="qwer!2345"/>	양천향교 -->
	</bean>
	
</beans>